body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    text-align: center;
}

header {
    background: linear-gradient(45deg, #3a3a3a, #0077B5);
    color: white;
    padding: 20px;
}

h1, h2 {
    color: #333;
}

#projects, #admin-panel {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

button {
    background-color: #0077B5;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.project {
    background: #e3e3e3;
    padding: 15px;
    margin: 10px;
    border-radius: 5px;
}
